// common
*{
  margin: 0;
  padding: 0;
}
//variable
$color-bk: black;
$color-c4: #c4c4c4;
$color-d6: #d6d6d6;
$color-dg: dimgray;
$color-e5: #e5e5e5;
$color-dp: #8068AD;
$color-pp: #C8B5C8;
$color-yel: #EDEBB2;
$color-cr: #FFFEF9;
$border-bk: 1px solid black;
$border-red: 1px solid red;
$per100: 100%;
$pc: 1080px;
$tablet: 600px;

//class-set
@mixin flex-align-justify($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
@mixin border($px, $color) {
  border: $px solid $color;
}
@mixin width-height($width, $height){
  width: $width;
  height: $height;
}
@mixin pc{
  @media(min-width: $pc){
    @content;
  }
}
@mixin tablet{
  @media(min-width: $tablet){
    @content;
  }
}
%flex-center-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex-column{
  flex-direction: column;
}
%view-100{
  width: 100vw;
  height: 100vh;
}
%per-100{
  width: 100%;
  height: 100%;
}
%inherit{
  width: inherit;
  height: inherit;
}
//style