:root{
  --color-c4: #c4c4c4;
  --color-d6: #d6d6d6;
  --color-gray: gray;
  --color-fff: #fff;
  --color-e5: #e5e5e5;
  --color-salmon: rgb(255, 93, 75);
  --color-bk: #000;
  --color-dg: rgb(54, 54, 54);
}